<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>新增病人</title>

    <div th:include="common :: commonheader"></div>
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div th:replace="common :: #leftmenu"></div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div th:replace="common :: headermenu"></div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                新增病人
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">病人管理</a>
                </li>
                <li class="active"> 新增病人 </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <section class="wrapper">
        <!-- page start-->

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        新增病人
                    </header>
                    <div class="panel-body">
                        <form role="form" th:action="@{/patient_upload}" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="exampleInputEmail1">病人名字</label>
                                <input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="请输入姓名">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">年龄</label>
                                <input type="text" name="age" class="form-control" id="exampleInputPassword1" placeholder="请输入年龄">
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label col-lg-2" for="inputSuccess">性别</label>
                                <div class="col-lg-10">

                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="sex" id="optionsRadios1" value="1" checked>
                                            男
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="sex" id="optionsRadios2" value="0">
                                            女
                                        </label>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <font color="#FF0000">请使用本地程序采集数据</font>
                                <br>
                                <label for="exampleInputFile1">采集数据</label>
                                <input type="file" name="collectdata" id="exampleInputFile1">
                            </div>
                            <div class="form-group" th:each="role: ${session.loginUser.role}" th:class="${role > 0?'form-group':'hidden'}">
                                <font color="#FF0000">请使用本地程序分析数据</font>
                                <br>
                                <label for="exampleInputFile">分析数据</label>
                                <input type="file" name="analysisdata" id="exampleInputFile">
                            </div>
                            <button type="submit" class="btn btn-primary">提交</button>
                        </form>

                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
        </section>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2021 &copy; VisualizationSystem by Joseph
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<div th:replace="common :: #commonscript"></div>

</body>
</html>
