<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>详情</title>

    <!--dynamic table-->
    <link href="js/advanced-datatable/css/demo_page.css" rel="stylesheet"/>
    <link href="js/advanced-datatable/css/demo_table.css" rel="stylesheet"/>
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css"/>

    <div th:include="~{common :: commonheader}"></div>
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div id="leftmenu" class="left-side sticky-left-side">

        <!--网站logo 大 和 小-->
        <div class="logo">
            <a th:href="@{/main.html}"><img src="/images/Logoo3.png" alt=""></a>
        </div>

        <!-- 隐藏侧边栏时显示logo -->
        <div class="logo-icon text-center">
            <a th:href="@{/main.html}"><img src="/images/logo_icon1.png" alt=""></a>
        </div>
        <!--网站logo 大 和 小-->

        <div class="left-side-inner">



            <!--侧边栏导航开始-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="menu-list nav-active" th:each="role: ${session.loginUser.role}" th:class="${role == -1?'menu-list nav-active':'hidden'}"><a href="#"><i class="fa fa-th-list" ></i> <span>详情</span></a>
                    <ul class="sub-menu-list">
                        <li><a th:href="@{/patientuser.html}">详情</a></li>
                    </ul>
                </li>
            </ul>

            <!--侧边栏导航结束-->

        </div>
    </div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">

        <!-- header section start-->
        <div th:fragment="headermenu" class="header-section">

            <!--开关按钮开始-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--开关按钮结束-->



            <!--通知菜单开始 -->
            <div class="menu-right">
                <ul class="notification-menu">
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <!--                    <img src="images/photos/user-avatar.png" alt="" />-->
                            [[${session.loginUser.name}]]
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li><a th:href="@{/}"><i class="fa fa-sign-out"></i> 登出</a></li>
                            <li><a th:href="@{/user/changepassword/{id}(id=${session.loginUser.id})}"><i class="fa fa-sign-out"></i>修改密码</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!--通知菜单结束 -->

        </div>
        <!-- header section end-->

        <!-- page heading start-->

        <!-- page heading end-->
        <div class="wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="profile-desk">
                                <h2 th:text="|病人姓名:${session.patientuser.name}|"></h2>
                                <span class="designation" th:text="|性别:${session.patientuser.sex == 0?'女':'男'} 年龄:${session.patientuser.age}|"></span>
                                <p th:text="|过往病史:${session.patientuser.getMedicalhistory()}|"></p>
                                <p th:text="|诊断结果:${session.patientuser.getDiagnosis()}|"></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading" >
                            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <table class="display table table-bordered table-striped" id="dynamic-table">
                                    <thead>
                                    <tr>
                                        <th>采集数据</th>
                                        <th>分析数据</th>
                                        <th>采集时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeX odd" th:each="patient : ${patients.getRecords()}">
                                        <td><a th:href="@{/txt/{path}(path=${patient.collectdatapath})}" th:download="${patient.collectdatapath}">[[${patient.collectdatapath}]]</a></td>
                                        <td><a th:href="@{/txt/{path}(path=${patient.analysisdatapath})}" th:download="${patient.analysisdatapath}">[[${patient.analysisdatapath}]]</a></td>
                                        <td th:text="${patient.createtime}">Win 95+</td>
                                        <td>
                                            <a th:href="@{/patient/echarts/{id}(id=${patient.id})}"
                                               class="btn btn-danger btn-sm" type="button">可视化</a>
                                        </td>
                                    </tr>

                                    </tbody>
                                    <tfoot>

                                    </tfoot>
                                </table>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="dataTables_info" id="dynamic-table_info">
                                            当前第[[${patients.current}]]页 总计 [[${patients.pages}]]页
                                            共[[${patients.total}]]条记录
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="dataTables_paginate paging_bootstrap pagination">
                                            <ul>
                                                <li th:class="|prev ${patients.current == 1 ? 'disabled ':''}|"><a th:href="@{/patient_table/(id=${session.info.id},pn=${patients.current - 1})}">← 前一页</a></li>
                                                <li th:class="${num == patients.current?'active':''}"
                                                    th:each="num:${#numbers.sequence(1,patients.pages == 0 ? 1 : patients.pages)}">
                                                    <a th:href="@{/patient_table(id=${session.info.id},pn=${num})}">[[${num}]]</a>
                                                </li>
                                                <li th:class="|next ${patients.current == patients.pages ? 'disabled':''}|"><a th:href="@{/patient_table/(id=${session.info.id},pn=${patients.current + 1})}">下一页 → </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
    </div>


</section>

<!-- Placed js at the end of the document so the pages load faster -->
<div th:replace="common :: #commonscript"></div>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<!--<script src="js/dynamic_table_init.js"></script>-->

<!--common scripts for all pages-->


</body>
</html>
